<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Llistat d'accions</title>

    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" href="../../static/font-awesome/css/font-awesome.css"
          rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}"
          href="../../static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link th:href="@{/css/animate.css}" href="../../static/css/animate.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet">
    <link th:href="@{/css/plugins/ladda/ladda-themeless.min.css}"
          href="../../static/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" href="../../static/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}" src="../../static/js/jquery-2.1.1.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}" src="../../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}" src="../../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script th:src="@{/js/plugins/dataTables/datatables.min.js}" src="../../static/js/plugins/dataTables/datatables.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}" src="../../static/js/inspinia.js"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}" src="../../static/js/plugins/pace/pace.min.js"></script>
    <!-- Ladda -->
    <script th:src="@{/js/plugins/ladda/spin.min.js}" src="../../static/js/plugins/ladda/spin.min.js"></script>
    <script th:src="@{/js/plugins/ladda/ladda.min.js}" src="../../static/js/plugins/ladda/ladda.min.js"></script>
    <script th:src="@{/js/plugins/ladda/ladda.jquery.min.js}" src="../../static/js/plugins/ladda/ladda.jquery.min.js"></script>
    <script th:src="@{/js/common.js}" src="../../static/js/common.js"></script>
    <script th:src="@{/js/actions.js}" src="../../static/js/actions.js"></script>
    <!-- Toastr script -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}" src="../../static/js/plugins/toastr/toastr.min.js"></script>


</head>

<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: menu" th:remove="tag"></div>

    <div id="page-wrapper" class="gray-bg">

        <div th:replace="fragments/header :: header" th:remove="tag"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <input type="hidden" id="url" value="/api/v1/center/term"
                   th:value="'/api/v1/center/territorial/'+ ${territorialId}">
            <div class="col-lg-10">
                <h2>Accions del sistema</h2>
                <ol class="breadcrumb">
                    <li>
                        <a>Sistema</a>
                    </li>
                    <li class="active">
                        <strong>Accions</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>LListat d'accions</h5>
                    </div>
                    <div class="ibox-content">
                        <label for="term">Cerca: </label>
                        <input type="text" id="term"/>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="actions-datatable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Data</th>
                                    <th>Acció</th>
                                    <th>Missatges</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="commentsModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body" >
                <span id="commentsModalContent"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>

</html>
