<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Llistat de fitxers</title>

    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" href="../../static/font-awesome/css/font-awesome.css"
          rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}"
          href="../../static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link th:href="@{/css/animate.css}" href="../../static/css/animate.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet">
    <link th:href="@{/css/plugins/ladda/ladda-themeless.min.css}"
          href="../../static/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" href="../../static/css/plugins/toastr/toastr.min.css"
          rel="stylesheet">

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}" src="../../static/js/jquery-2.1.1.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"
            src="../../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"
            src="../../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script th:src="@{/js/plugins/dataTables/datatables.min.js}"
            src="../../static/js/plugins/dataTables/datatables.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}" src="../../static/js/inspinia.js"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}" src="../../static/js/plugins/pace/pace.min.js"></script>
    <!-- Ladda -->
    <script th:src="@{/js/plugins/ladda/spin.min.js}" src="../../static/js/plugins/ladda/spin.min.js"></script>
    <script th:src="@{/js/plugins/ladda/ladda.min.js}" src="../../static/js/plugins/ladda/ladda.min.js"></script>
    <script th:src="@{/js/plugins/ladda/ladda.jquery.min.js}"
            src="../../static/js/plugins/ladda/ladda.jquery.min.js"></script>
    <!-- Toastr script -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}" src="../../static/js/plugins/toastr/toastr.min.js"></script>

</head>

<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: menu" th:remove="tag"></div>

    <div id="page-wrapper" class="gray-bg">

        <div th:replace="fragments/header :: header" th:remove="tag"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Llistat de fitxers</h2>
                <ol class="breadcrumb">
                    <li>
                        <a>Sistema</a>
                    </li>
                    <li>
                        <a>Nomenaments</a>
                    </li>
                    <li class="active">
                        <strong>Fitxers</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>LListat de fitxers</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="actions-datatable">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                </tr>
                                </thead>
                                <tbody th:each="file : ${files}" th:remove="tag">
                                <tr>
                                    <td><a th:href="'/admin/file/'+${file}" ><span th:text="${file}">File</span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
