<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualització de centres</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" href="../../../static/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}" href="../../../static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link th:href="@{/css/animate.css}" href="../../../static/css/animate.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../../../static/css/style.css" rel="stylesheet">
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" href="../../../static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link th:href="@{/css/plugins/jasny/jasny-bootstrap.min.css}" href="../../../static/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}" src="../../../static/js/jquery-2.1.1.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../../../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}" src="../../../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}" src="../../../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script th:src="@{/js/plugins/dataTables/datatables.min.js}" src="../../../static/js/plugins/dataTables/datatables.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}" src="../../../static/js/inspinia.js"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}" src="../../../static/js/plugins/pace/pace.min.js"></script>
    <!-- Ladda -->
    <script th:src="@{/js/plugins/ladda/spin.min.js}" src="../../../static/js/plugins/ladda/spin.min.js"></script>
    <script th:src="@{/js/plugins/ladda/ladda.min.js}" src="../../../static/js/plugins/ladda/ladda.min.js"></script>
    <script th:src="@{/js/plugins/ladda/ladda.jquery.min.js}" src="../../../static/js/plugins/ladda/ladda.jquery.min.js"></script>
    <script th:src="@{/js/appointments.js}" src="../../../static/js/appointments.js"></script>
    <!-- Toastr script -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}" src="../../../static/js/plugins/toastr/toastr.min.js"></script>
</head>

<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: menu" th:remove="tag"></div>

    <div id="page-wrapper" class="gray-bg">

        <div th:replace="fragments/header :: header" th:remove="tag"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2> Actualització massiva de centres</h2>
                <ol class="breadcrumb">
                    <li>
                        <a>Sistema</a>
                    </li>
                    <li>
                        <strong>Fitxers</strong>
                    </li>
                    <li class="active">
                        <strong>Centres</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeIn">
            <div th:replace="fragments/notifications :: import" th:remove="tag"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Escolliu un fitxer de centres per a pujar</h5>
                        </div>
                        <div class="ibox-content">
                            <form role="form" action="/admin/import/center" method="POST" enctype="multipart/form-data" class="form-inline">
                                <div class="form-group">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"><i
                                                class="glyphicon glyphicon-file fileinput-exists"></i> <span
                                                class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file"><span
                                                class="fileinput-new">Cercar fitxer</span><span
                                                class="fileinput-exists">Canviar</span>
                                            <input type="file" name="file" required="required"></span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists"
                                           data-dismiss="fileinput">Eliminar</a>
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Actualitzar</strong>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
