<b th:text="${territorialName}">territorialName</b>
Especialitat: Últim número / Número més alt
<tbody th:each="data : ${specialityData}" th:remove="tag">[[${data.getSpeciality().getId()}]] - [[${data.getSpeciality().getName()}]]: [[${#numbers.formatDecimal(data.data.getLastNumber(), 0, 'POINT', 0, 'COMMA')}]] / [[${#numbers.formatDecimal(data.data.getMaxNumber(), 0, 'POINT', 0, 'COMMA')}]]

</tbody>
