Indiqueu un codi de territorial segons el següent llistat:

1 - Consorci d'Educació de Barcelona
2 - Barcelona Comarques
3 - Baix Llobregat
4 - Vallès Occidental
5 - Maresme - Vallès Orienta
6 - Catalunya Central
17 - Girona
25 - Lleida
43 - Tarragona
44 - Terres de l'Ebre

Per exemple:
<i>/territorial 17</i> per a obtenir els nomenaments de la territorial de Girona

Si sabeu el codi d'especialitat també el podeu fer servir.
Per exemple:
<i>/territorial 17 PRI</i> per a obtenir l'últim nomenament de primaria  de la territorial de Girona
