<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" href="../../static/font-awesome/css/font-awesome.css"
          rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}"
          href="../../static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link th:href="@{/css/animate.css}" href="../../static/css/animate.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet">

</head>
<body>

<div th:fragment="dataTable" class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Llistat de centres</h5>
            </div>
            <div class="ibox-content">
                <label for="term">Cerca: </label>
                <input type="text" id="term"/>
            </div>
            <div class="ibox-content">
                <p>En aquest llistat hi podem veure el nom, les dades de contacte, la titularitat, els nivells educatius i d'altres dades rellevants dels centres. Font de les dades: Generalitat de Catalunya. Actualitzat a 14 de setembre de 2018</p>
                <p>Feu doble click a un centre per a veure la informació completa</p>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="centers-datatable">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Adreça</th>
                            <th>Tipus</th>
                            <th>Naturalesa</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modal" class="modal inmodal" id="centerDataModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Tancar</span></button>
                <h4 id="centerDataModalTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#center-data">Dades del centre</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#geo-data">Com arribar</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="center-data" class="tab-pane active">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Adreça</label>
                                                <input id="address" class="form-control"
                                                       readonly="readonly"/>
                                                <input id="latitude" type="hidden"/>
                                                <input id="longitude" type="hidden"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Codi postal</label>
                                                <input id="postalCode" class="form-control"
                                                       readonly="readonly"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Municipi</label>
                                                <input id="city" class="form-control" readonly="readonly"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Comarca</label>
                                                <input id="region" class="form-control"
                                                       readonly="readonly"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3 class="m-t-none m-b">Informació de contacte</h3>
                                            <div class="form-group">
                                                <label>Telèfons</label>
                                                <ul id="phoneList"></ul>
                                            </div>
                                            <div class="form-group">
                                                <label>Correu electrònic</label>
                                                <ul id="emailList"></ul>
                                            </div>
                                            <div class="form-group">
                                                <label>Fax</label>
                                                <ul id="faxList"></ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Tipus</label>
                                                <ul id="typeList"></ul>
                                            </div>
                                            <div class="form-group">
                                                <label>Servei territorial</label>
                                                <input id="territorial" class="form-control"
                                                       readonly="readonly"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Naturalessa</label>
                                                <input id="nature" class="form-control"
                                                       readonly="readonly"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Titularitat</label>
                                                <input id="owner" class="form-control" readonly="readonly"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="geo-data" class="tab-pane">
                            <div class="ibox-content">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label>Desde la meva posició actual</label>
                                        <button id="userPositionButton" class="ladda-button btn btn-primary"
                                                data-style="expand-right" type="button">
                                            <strong>Cerca</strong>
                                        </button>
                                    </div>
                                    <div class="form-group"><label for="userAddress">Des de:</label>
                                        <input id="userAddress"
                                               placeholder="Indroduïu l'adreça d'origen"
                                               class="form-control">
                                        <button id="userAddressButton" class="ladda-button btn btn-primary"
                                                data-style="expand-right" type="button">
                                            <strong>Cerca</strong>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div id="routeTabContent" class="ibox-content" style="display: none">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                        <li class="active" data-toggle="tooltip" title="Cotxe"><a data-toggle="tab" href="#route0" ><i class="fa fa-car"></i></a></li>
                                        <li data-toggle="tooltip" title="Transport públic"><a data-toggle="tab" href="#route1"><i class="fa fa-train"></i></a></li>
                                        <li data-toggle="tooltip" title="Bicicleta"><a data-toggle="tab" href="#route2"><i class="fa fa-bicycle"></i></a></li>
                                        <li data-toggle="tooltip" title="A peu"><a data-toggle="tab" href="#route3"><i class="fa fa-male"></i></a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="route0" class="tab-pane active">
                                            <div class="ibox float-e-margins">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="form-group">
                                                            <label id="route0originLabel"
                                                                   style="display: none">Origen:</label>
                                                            <span id="route0origin"></span>
                                                            <label id="route0destinationLabel"
                                                                   for="route0destination"
                                                                   style="display: none">Desti:</label>
                                                            <span id="route0destination"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label id="route0distanceLabel"
                                                               style="display: none">Distancia:</label>
                                                        <span id="route0distance"></span>
                                                        <label id="route0durationLabel"
                                                               for="route0duration"
                                                               style="display: none">Temps:</label>
                                                        <span id="route0duration"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label id="route0stepsLabel"
                                                               for="route0List"
                                                               style="display: none">Indicacions</label>
                                                        <ul id="route0List"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="route1" class="tab-pane">
                                            <div class="ibox float-e-margins">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="form-group">
                                                            <label id="route1originLabel"
                                                                   style="display: none">Origen:</label>
                                                            <span id="route1origin"></span>
                                                            <label id="route1destinationLabel"
                                                                   for="route1destination"
                                                                   style="display: none">Desti:</label>
                                                            <span id="route1destination"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label id="route1distanceLabel"
                                                               style="display: none">Distancia:</label>
                                                        <span id="route1distance"></span>
                                                        <label id="route1durationLabel"
                                                               for="route1duration"
                                                               style="display: none">Temps:</label>
                                                        <span id="route1duration"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label id="route1stepsLabel"
                                                               for="route0List"
                                                               style="display: none">Indicacions</label>
                                                        <ul id="route1List"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="route2" class="tab-pane">
                                            <div class="ibox float-e-margins">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="form-group">
                                                            <label id="route2originLabel"
                                                                   style="display: none">Origen:</label>
                                                            <span id="route2origin"></span>
                                                            <label id="route2destinationLabel"
                                                                   for="route2destination"
                                                                   style="display: none">Desti:</label>
                                                            <span id="route2destination"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label id="route2distanceLabel"
                                                               style="display: none">Distancia:</label>
                                                        <span id="route2distance"></span>
                                                        <label id="route2durationLabel"
                                                               for="route2duration"
                                                               style="display: none">Temps:</label>
                                                        <span id="route2duration"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label id="route2stepsLabel"
                                                               for="route2List"
                                                               style="display: none">Indicacions</label>
                                                        <ul id="route2List"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="route3" class="tab-pane">
                                            <div class="ibox float-e-margins">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="form-group">
                                                            <label id="route3originLabel"
                                                                   style="display: none">Origen:</label>
                                                            <span id="route3origin"></span>
                                                            <label id="route3destinationLabel"
                                                                   for="route3destination"
                                                                   style="display: none">Desti:</label>
                                                            <span id="route3destination"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label id="route3distanceLabel"
                                                               style="display: none">Distancia:</label>
                                                        <span id="route3distance"></span>
                                                        <label id="route3durationLabel"
                                                               for="route3duration"
                                                               style="display: none">Temps:</label>
                                                        <span id="route3duration"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label id="route3stepsLabel"
                                                               for="route3List"
                                                               style="display: none">Indicacions</label>
                                                        <ul id="route3List"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Tancar</button>
            </div>
        </div>
    </div>
</div>


