<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" href="../../static/font-awesome/css/font-awesome.css"
          rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}"
          href="../../static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link th:href="@{/css/animate.css}" href="../../static/css/animate.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet">

</head>
<body>

<div th:fragment="dataTable" class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Llista de nomenaments agrupat per jornada</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="dayType">Tipus de jornada</label>
                            <select class="form-control" id="dayType">
                                <option value="" selected>Totes</option>
                                <option value="FULL">Completa (1)</option>
                                <option value="TREE_QUARTER">Tres quarts (0,83)</option>
                                <option value="TWO_THIRDS">Dos terços (0,66)</option>
                                <option value="HALF">Mitja jornada (0,5)</option>
                                <option value="A_THIRD">Un terç (0,33)</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dayType-datatable">
                        <thead>
                        <tr>
                            <th>Especialitat</th>
                            <th>Jornada</th>
                            <th>Número més alt</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>