<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="header" class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
            </a>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="count-info" href="/admin/action">
                        <i class="fa fa-bell"></i> <span id="actionsSpan" class="label label-primary"></span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
            <!-- Admin script -->
            <script th:src="@{/js/admin.js}" src="../../static/js/admin.js"></script>
        </div>
    </nav>
</div>

<div th:fragment="head(pageTitle)" th:remove="tag">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${pageTitle}">Page title</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" href="../../static/font-awesome/css/font-awesome.css"
          rel="stylesheet">
    <!--  Eliminem css innecessari  -->
<!--    <link th:href="@{/css/animate.css}" href="../../static/css/animate.css" rel="stylesheet">-->
    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/plugins/cookieconsent/3.1.0/cookieconsent.min.css}"
          href="../../static/css/plugins/cookieconsent/3.1.0/cookieconsent.min.css">
</div>

<div th:fragment="scripts" th:remove="tag">
    <script th:src="@{/js/jquery-2.1.1.js}" src="../../static/js/jquery-2.1.1.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"
            src="../../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"
            src="../../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script th:src="@{/js/inspinia.js}" src="../../static/js/inspinia.js"></script>
    <script th:src="@{/js/plugins/cookieconsent/3.1.0/cookieconsent.min.js}"
            src="../../static/js/plugins/cookieconsent/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#efefef",
                        "text": "#404040"
                    },
                    "button": {
                        "background": "#8ec760",
                        "text": "#ffffff"
                    }
                },
                "content": {
                    "message": "Aquesta web fa servir galetes per analitzar el nostre trànsit. Tenir més informació al següent\n",
                    "link": "enllaç",
                    "href": "/cookies",
                    "dismiss": "D'acord",
                    "target": "_self"
                }
            })
        });
    </script>

    <div th:if="${isGoogleAnalyticsActive}" th:remove="tag">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50186886-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-50186886-2');
        </script>
    </div>

</div>

</body>

