<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" href="../../static/font-awesome/css/font-awesome.css"
          rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}"
          href="../../static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link th:href="@{/css/animate.css}" href="../../static/css/animate.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet">

</head>
<body>

<div th:fragment="menu">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/">
                            <span class="clear"> <span class="block m-t-xs">
                                <strong class="font-bold"><a href="/">Mestre Murri</a></strong>
                             </span> </span> </a>
                    </div>
                    <div class="logo-element">
                        <strong class="font-bold"><a href="/">MM</a></strong>
                    </div>
                </li>
                <li><a href="/"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a></li>
                <li>
                    <a href="#"><i class="fa fa-university"></i> <span class="nav-label">Centres</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/centers">Tots els centres</a></li>
                        <li><a href="/centers/distance">Cerca propers</a></li>
                        <li>
                            <a href="#">Per Territorial<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a href="/territorial/0108">Consorci d'Educació de Barcelona</a></li>
                                <li><a href="/territorial/0208">Barcelona Comarques</a></li>
                                <li><a href="/territorial/0308">Baix Llobregat</a></li>
                                <li><a href="/territorial/0408">Vallès Occidental</a></li>
                                <li><a href="/territorial/0508">Maresme - Vallès Oriental</a></li>
                                <li><a href="/territorial/1060">Catalunya Central</a></li>
                                <li><a href="/territorial/0117">Girona</a></li>
                                <li><a href="/territorial/0125">Lleida</a></li>
                                <li><a href="/territorial/0143">Tarragona</a></li>
                                <li><a href="/territorial/0243">Terres de l'Ebre</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-hand-o-right"></i> <span class="nav-label">Nomenaments</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#">Territorials<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a href="/appointment/territorial/0108">Consorci d'Educació de Barcelona</a></li>
                                <li><a href="/appointment/territorial/0208">Barcelona Comarques</a></li>
                                <li><a href="/appointment/territorial/0308">Baix Llobregat</a></li>
                                <li><a href="/appointment/territorial/0408">Vallès Occidental</a></li>
                                <li><a href="/appointment/territorial/0508">Maresme - Vallès Oriental</a></li>
                                <li><a href="/appointment/territorial/1060">Catalunya Central</a></li>
                                <li><a href="/appointment/territorial/0117">Girona</a></li>
                                <li><a href="/appointment/territorial/0125">Lleida</a></li>
                                <li><a href="/appointment/territorial/0143">Tarragona</a></li>
                                <li><a href="/appointment/territorial/0243">Terres de l'Ebre</a></li>
                            </ul>
                        </li>
                        <li><a href="/appointment/speciality">Especialitats</a></li>
                        <li><a href="/appointment/analytics">El meu número</a></li>
                    </ul>
                </li>
                <li><a href="/faqs"><i class="fa fa-question"></i> <span class="nav-label">Faqs</span></a></li>
                <li><a href="/links"><i class="fa fa-link"></i> <span class="nav-label">Enllaços</span></a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#"><i class="fa fa-server"></i> <span class="nav-label">Sistema</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/admin/action">Accions</a></li>
                        <li>
                            <a href="#">Nomenaments<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a href="/admin/load/appointment">Càrrega</a></li>
                                <li><a href="/admin/file">Fitxers</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Fitxers<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a href="/admin/import/type">Tipus</a></li>
                                <li><a href="/admin/import/center">Centres</a></li>
                                <li><a href="/admin/import/appointment">Nomenaments</a></li>
                            </ul>
                        </li>
                        <li><a href="/admin/statistic">Estadístiques</a></li>
                        <li><a href="/admin/social">Xarxes Socials</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>

