<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" href="../../static/font-awesome/css/font-awesome.css"
          rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}"
          href="../../static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link th:href="@{/css/animate.css}" href="../../static/css/animate.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet">

</head>
<body>

<div th:fragment="import">
    <div th:if="${result != null}" class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div th:if="${result.hasErrors()==true}" class="alert alert-danger">
                    <span>Fitxer</span>
                    <span th:text="${result.file.getName()}">Nom</span>
                    <span>conté </span>
                    <span th:text="${result.getRecordsNumber()}">Registres</span>
                    <span>registres i s'ha processat en</span>
                    <span th:text="${result.getProcessTime()}">Temps</span>
                    <span>millis.</span><br>
                    <span>El fitxer conté els següents errors:</span>
                    <table>
                        <tbody th:each="error : ${result.errors}" th:remove="tag">
                        <tr>
                            <td>&nbsp;&nbsp;<span th:text="${error}">Temps</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:unless="${result.hasErrors()==true}" class="alert alert-success">
                    <span>Fitxer</span>
                    <span th:text="${result.file.getName()}">Nom</span>
                    <span>processat correctament.</span><br>
                    <span>El procés ha trigat</span>
                    <span th:text="${result.getProcessTime()}">Temps</span>
                    <span>millis.</span>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${message != null}" class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="alert alert-success">
                    <span th:text="${message}">Nom</span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

