<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Generic resources -->
    <div th:replace="fragments/header :: head (pageTitle = 'Llistat de nomenaments')" th:remove="tag"/>
    <!-- Generic Scripts -->
    <div th:replace="fragments/header :: scripts" th:remove="tag"/>
</head>

<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: menu" th:remove="tag"></div>

    <div id="page-wrapper" class="gray-bg">

        <div th:replace="fragments/header :: header" th:remove="tag"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <input type="hidden" id="urlAppointments" value="/api/v1/appointments"
                   th:value="'/api/v1/appointment/territorial/'+ ${territorialId}">
            <input type="hidden" id="urlSpeciality" value="/api/v1/territorial"
                   th:value="'/api/v1/appointment/territorial/'+ ${territorialId} + '/speciality'">
            <input type="hidden" id="urlDayType" value="/api/v1/territorial"
                   th:value="'/api/v1/appointment/territorial/'+ ${territorialId} + '/daytype'">
            <div class="col-lg-10">
                <h2>Nomenaments de la territorial: <span th:text="${territorialName}">Territorial</span></h2>
                <ol class="breadcrumb">
                    <li>
                        <a>Nomenaments</a>
                    </li>
                    <li>
                        <a>Territorials</a>
                    </li>
                    <li class="active">
                        <strong><span th:text="${territorialName}">Consultes</span></strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#appointments-data">Nomenaments</a></li>
                    <li class=""><a data-toggle="tab" href="#specialities-data">Especialitats</a></li>
                    <li class=""><a data-toggle="tab" href="#dayType-data">Jornades</a></li>
                </ul>
                <div class="ibox-content">
                    <form role="form" class="form-inline" onsubmit="return false;">
                        <div class="form-group">
                            <label for="season">Curs: </label>
                            <select class="form-control" id="season">
                                <option th:each="season, index : ${seasonList}"
                                        th:value="${season.id}"
                                        th:text="${season.id}"
                                        th:selected="${index==0}? true: false"></option>
                            </select>
                            &nbsp;&nbsp;&nbsp;<label for="specialityTypeHead">Especialitat: </label>
                            <div class="input-group">
                                <input type="text" id="specialityTypeHead" autocomplete="off"
                                         data-provide="typeahead"
                                         placeholder="Indiqueu una especialitat"
                                         class="form-control"/>
                                <span class="input-group-btn">
                                    <button id="resetSpeciality" type="button" class="btn btn-primary">Esborrar</button>
                                </span>
                            </div>
                            <input type="hidden" id="speciality"/>
                        </div>
                    </form>
                </div>
                <div class="tab-content">
                    <div id="appointments-data" class="tab-pane active">
                        <div th:replace="fragments/appointments-data :: dataTable" th:remove="tag"></div>
                    </div>
                    <div id="specialities-data" class="tab-pane">
                        <div th:replace="fragments/speciality-data :: dataTable" th:remove="tag"></div>
                    </div>
                    <div id="dayType-data" class="tab-pane">
                        <div th:replace="fragments/dayType-data :: dataTable" th:remove="tag"></div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer" th:remove="tag"></div>
    </div>
</div>
<script th:src="@{/js/plugins/dataTables/datatables.min.js}"
        src="../static/js/plugins/dataTables/datatables.min.js"></script>
<script th:src="@{/js/plugins/typehead/bootstrap3-typeahead.min.js}"
        src="../static/js/plugins/typehead/bootstrap3-typeahead.min.js"></script>
<script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
<script th:src="@{/js/appointments.js}" src="../static/js/appointments.js"></script>
</body>

</html>
