<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Generic resources -->
    <div th:replace="fragments/header :: head (pageTitle = 'LLista de centres propers')" th:remove="tag"/>
    <!--  Eliminem css innecessari  -->
<!--    <link th:href="@{/css/plugins/dataTables/datatables.min.css}"-->
<!--          href="../static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">-->
<!--    <link th:href="@{/css/plugins/ladda/ladda-themeless.min.css}"-->
<!--          href="../static/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">-->
    <!-- Generic Scripts -->
    <div th:replace="fragments/header :: scripts" th:remove="tag"/>
</head>

<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: menu" th:remove="tag"></div>

    <div id="page-wrapper" class="gray-bg">

        <div th:replace="fragments/header :: header" th:remove="tag"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <input type="hidden" id="url" value="/api/v1/center">
            <div class="col-lg-10">
                <h2>LLista de centres</h2>
                <ol class="breadcrumb">
                    <li>
                        <a>Centres</a>
                    </li>
                    <li class="active">
                        <strong>Cerca propers</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Llistat de centres propers a una adreça</h5>
                        </div>
                        <div class="ibox-content">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="mapPositionButton">Desde la meva posició actual:</label>
                                    <button id="mapPositionButton" class="ladda-button btn btn-primary"
                                            data-style="expand-right" type="button">
                                        <strong>Cerca</strong>
                                    </button>
                                </div>
                                <div class="form-group"><label for="mapAddress">Des de la següent adreça:</label>
                                    <input id="mapAddress"
                                           placeholder="Indroduïu una adreça"
                                           class="form-control">
                                    <button id="mapAddressButton" class="ladda-button btn btn-primary"
                                            data-style="expand-right" type="button">
                                        <strong>Cerca</strong>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="mapTabContent" style="display: none">
                <div class="col-lg-8">
                    <div class="ibox-content">
                        <div class="google-map" id="map"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="row">
                                    <h5>Filtres</h5>
                                </div>
                                <div class="row">
                                    <div class="ibox-title">
                                        <h5>Distància</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="form-group">
                                            <select id="mapDistance">
                                                <option value="2">2 Kms.</option>
                                                <option value="5">5 Kms.</option>
                                                <option value="10">10 Kms.</option>
                                                <option value="15">15 Kms.</option>
                                                <option value="25">25 Kms.</option>
                                                <option value="50">50 Kms.</option>
                                                <option value="100">100 Kms.</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ibox-title">
                                        <h5>Naturalesa</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="i-checks">
                                            <label>
                                                <input type="radio" value="0" id="natureCheck0" name="natureCheck" checked=""> <i></i>Tots
                                            </label>
                                        </div>
                                        <div class="i-checks">
                                            <label>
                                                <input type="radio" value="1" id="natureCheck1" name="natureCheck"> <i></i>Públic
                                            </label>
                                        </div>
                                        <div class="i-checks">
                                            <label>
                                                <input type="radio" value="2" id="natureCheck2" name="natureCheck"> <i></i>Privat
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ibox-title">
                                        <h5>Tipus</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="form-group">
                                            <select class="form-control m-b" id="typeSelect"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer" th:remove="tag"></div>
    </div>
</div>

<div th:replace="fragments/centers-data :: modal" th:remove="tag"></div>

<script th:src="@{/js/plugins/dataTables/datatables.min.js}"
        src="../static/js/plugins/dataTables/datatables.min.js"></script>
<script th:src="@{/js/plugins/ladda/spin.min.js}" src="../static/js/plugins/ladda/spin.min.js"></script>
<script th:src="@{/js/plugins/ladda/ladda.min.js}" src="../static/js/plugins/ladda/ladda.min.js"></script>
<script th:src="@{/js/plugins/ladda/ladda.jquery.min.js}" src="../static/js/plugins/ladda/ladda.jquery.min.js"></script>
<script th:src = "@{/js/centers.js}" src="../static/js/centers.js"></script>
<script th:src="@{/js/centersMap.js}" src="../static/js/centersMap.js" async></script>
<script src="https://maps.googleapis.com/maps/api/js?language=ca&key=AIzaSyAXRzmBSIoMKYCeqHwOSO9CsC7XfaDuULk" async></script>

</body>

</html>
