<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Generic resources -->
    <div th:replace="fragments/header :: head (pageTitle = 'Error')" th:remove="tag"/>
    <!-- Generic Scripts -->
    <div th:replace="fragments/header :: scripts" th:remove="tag"/>

</head>

<body>

<div id="wrapper">
    <div th:replace="fragments/menu :: menu" th:remove="tag"></div>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/header :: header"></div>
        <div th:switch="${status}" class="middle-box text-center animated fadeInDown">
            <h1><span th:text="${status}">Status</span></h1>
            <h3 th:case="404" class="font-bold"><span>La pàgina no s'ha trobat</span></h3>
            <h3 th:case="500" class="font-bold"><span>Error intern de servidor</span></h3>
            <h3 th:case="*" class="font-bold"><span th:text="${message}">message</span></h3>
            <div class="error-desc">
                <span th:text="${exception}">message</span>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer" th:remove="tag"></div>
    </div>
</div>

</body>

</html>
