<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Generic resources -->
    <div th:replace="fragments/header :: head (pageTitle = 'Llistat de nomenaments')" th:remove="tag"/>
    <!-- Generic Scripts -->
    <div th:replace="fragments/header :: scripts" th:remove="tag"/>


    <script th:src="@{/js/plugins/chartJs/Chart.min.js}" src="../static/js/plugins/chartJs/Chart.min.js"></script>

</head>

<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: menu" th:remove="tag"></div>

    <div id="page-wrapper" class="gray-bg">

        <div th:replace="fragments/header :: header" th:remove="tag"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <input type="hidden" id="urlAppointments" value="/api/v1/appointments"
                   th:value="'/api/v1/appointment/territorial/'+ ${territorialId}">
            <input type="hidden" id="urlSpeciality" value="/api/v1/territorial"
                   th:value="'/api/v1/appointment/speciality'">
            <div class="col-lg-10">
                <h2>Especialitats</h2>
                <ol class="breadcrumb">
                    <li>
                        <a>Nomenaments</a>
                    </li>
                    <li class="active">
                        <a>Especialitats</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <form role="form" class="form-inline" onsubmit="return false;">
                                <div class="form-group">
                                    <label for="season">Curs: </label>
                                    <select class="form-control" id="season">
                                        <option th:each="season, index : ${seasonList}"
                                                th:value="${season.id}"
                                                th:text="${season.id}"
                                                th:selected="${index==0}? true: false"></option>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;<label for="specialityTypeHead">Especialitat: </label>
                                    <div class="input-group">
                                        <input type="text" id="specialityTypeHead" autocomplete="off"
                                                 data-provide="typeahead"
                                                 placeholder="Indiqueu una especialitat"
                                                 class="form-control"/>
                                        <span class="input-group-btn">
                                            <button id="findSpeciality" type="button" class="btn btn-primary">Cercar</button>
                                        </span>
                                    </div>
                                    <input type="hidden" id="speciality"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="display: none" id="specialityDataRow">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Dades de l'especialitat agrupades per territorial</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-10">
                                    <p>Aquesta gràfica mostra el total de nomenaments per cada territorial de l'any i especialitat escollits.</p>
                                    <canvas id="barChart" height="140"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>Aquest llistat mostra, per a cada territorial, el nomenament més alt, l'últim que ha sortit i el total de nomenamens que hi ha pel curs i l'especialitat escollits. Descarregue-vos el llistat i podreu anar fent un seguiment de quines territorials
                            avancen més</p>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="speciality-datatable">
                                    <thead>
                                    <tr>
                                        <th>Territorial</th>
                                        <th>Número més alt</th>
                                        <th>Últim número</th>
                                        <th>Total de nomenaments</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer" th:remove="tag"></div>
    </div>
</div>
<script th:src="@{/js/plugins/dataTables/datatables.min.js}"
        src="../static/js/plugins/dataTables/datatables.min.js"></script>
<script th:src="@{/js/plugins/typehead/bootstrap3-typeahead.min.js}"
        src="../static/js/plugins/typehead/bootstrap3-typeahead.min.js"></script>
<script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
<script th:src="@{/js/specialities.js}" src="../static/js/specialities.js"></script>
</body>

</html>
