<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Generic resources -->
    <div th:replace="fragments/header :: head (pageTitle = 'Centres de la territorial: ')" th:remove="tag"/>
    <!-- Generic Scripts -->
    <div th:replace="fragments/header :: scripts" th:remove="tag"/>    
</head>

<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: menu" th:remove="tag"></div>

    <div id="page-wrapper" class="gray-bg">

        <div th:replace="fragments/header :: header" th:remove="tag"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <input type="hidden" id="url" value="/api/v1/center/term"
                   th:value="'/api/v1/center/territorial/'+ ${territorialId}">
            <div class="col-lg-10">
                <h2>Centres de la territorial: <span th:text="${territorialName}">Territorial</span></h2>
                <ol class="breadcrumb">
                    <li>
                        <a>Centres</a>
                    </li>
                    <li>
                        <a>Territorials</a>
                    </li>
                    <li class="active">
                        <strong><span th:text="${territorialName}">Consultes</span></strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span title="Periodicitat d'actualització de la informació"
                                  class="label label-primary pull-right">Anual</span>
                            <h5>Centres</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins"><span th:text="${territorialTotal}">Total Territorial</span></h1>
                            <div class="stat-percent font-bold text-success">
                                <span title="Percentatge sobre el total de centres" th:text="${territorialPercent}">Total</span>
                            </div>
                            <small>D'un total de <span th:text="${total}">Total</span></small>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/centers-data :: dataTable" th:remove="tag">></div>
        </div>
        <div th:replace="fragments/footer :: footer" th:remove="tag">></div>
    </div>
</div>

<div th:replace="fragments/centers-data :: modal" th:remove="tag"></div>

<script th:src="@{/js/plugins/dataTables/datatables.min.js}" src="../static/js/plugins/dataTables/datatables.min.js"></script>
<script th:src="@{/js/plugins/ladda/spin.min.js}" src="../static/js/plugins/ladda/spin.min.js"></script>
<script th:src="@{/js/plugins/ladda/ladda.min.js}" src="../static/js/plugins/ladda/ladda.min.js"></script>
<script th:src="@{/js/plugins/ladda/ladda.jquery.min.js}" src="../static/js/plugins/ladda/ladda.jquery.min.js"></script>
<script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
<script th:src = "@{/js/centers.js}" src="../static/js/centers.js"></script>
<script th:src="@{/js/centersMap.js}" src="../static/js/centersMap.js" async></script>
<script src="https://maps.googleapis.com/maps/api/js?language=ca&key=AIzaSyAXRzmBSIoMKYCeqHwOSO9CsC7XfaDuULk" async></script>

</body>

</html>
