<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualització de nomenaments</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" href="../../../static/font-awesome/css/font-awesome.css"
          rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}"
          href="../../../static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link th:href="@{/css/animate.css}" href="../../../static/css/animate.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../../../static/css/style.css" rel="stylesheet">
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" href="../../../static/css/plugins/toastr/toastr.min.css"
          rel="stylesheet">
    <link th:href="@{/css/plugins/jasny/jasny-bootstrap.min.css}"
          href="../../../static/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

    <link th:href="@{/css/plugins/datapicker/datepicker3.css}"
          href="../../../static/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}" src="../../../static/js/jquery-2.1.1.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../../../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"
            src="../../../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"
            src="../../../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script th:src="@{/js/plugins/dataTables/datatables.min.js}"
            src="../../../static/js/plugins/dataTables/datatables.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}" src="../../../static/js/inspinia.js"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}" src="../../../static/js/plugins/pace/pace.min.js"></script>
    <!-- Ladda -->
    <script th:src="@{/js/plugins/ladda/spin.min.js}" src="../../../static/js/plugins/ladda/spin.min.js"></script>
    <script th:src="@{/js/plugins/ladda/ladda.min.js}" src="../../../static/js/plugins/ladda/ladda.min.js"></script>
    <script th:src="@{/js/plugins/ladda/ladda.jquery.min.js}"
            src="../../../static/js/plugins/ladda/ladda.jquery.min.js"></script>
    <script th:src="@{/js/appointments.js}" src="../../../static/js/appointments.js"></script>
    <!-- Toastr script -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}" src="../../../static/js/plugins/toastr/toastr.min.js"></script>
    <script th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"
            src="../../../static/js/plugins/datapicker/bootstrap-datepicker.js"></script>

</head>

<body>

<div id="wrapper">

    <div th:replace="fragments/menu :: menu" th:remove="tag"></div>

    <div id="page-wrapper" class="gray-bg">

        <div th:replace="fragments/header :: header" th:remove="tag"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Càrrega de nomenaments</h2>
                <ol class="breadcrumb">
                    <li>
                        <a>Sistema</a>
                    </li>
                    <li>
                        <a>Nomenaments</a>
                    </li>
                    <li class="active">
                        <strong>Càrrega</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeIn">
            <div th:replace="fragments/notifications :: import" th:remove="tag"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Indiqueu la data dels nomenamets que es volen carregar</h5>
                        </div>
                        <div class="ibox-content">
                            <form role="form" action="/admin/load/appointment" method="POST" class="form-inline">
                                <div class="form-group" id="dataElement">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" id="date" name="date" class="form-control" required="required">
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Carregar</strong>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#dataElement .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
    });
</script>
</body>

</html>
